@import url(https://fonts.googleapis.com/css?family=Oswald|Cantarell:400,400italic,700|Cabin:400,700)
@import url(https://fonts.googleapis.com/css?family=Pacifico)
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light)
// @include font-face("Blooming Grove", font-files("styles/fonts/bgrove.ttf", "styles/fonts/bgrove.otf"))

$header_font: Oswald, Georgia, Sans Serif
$p_font: Cantarell, Cabin, Blooming Grove, Sans Serif
$test: Georgia
$h1_font: Pacifico
$li_font: shadows into light
