aldryn-apphooks-config==0.2.6
aldryn-boilerplates==0.7.3
aldryn-categories==1.0.1
aldryn-common==1.0.0
aldryn-newsblog==1.0.12
aldryn-people==1.1.5
aldryn-reversion==1.0.6
aldryn-translation-tools==0.2.1
Babel==2.2.0
backport-collections==0.1
cmsplugin-filer==1.0.0
dj-database-url==0.3.0
Django==1.9.5
django-appconf==1.0.1
django-appdata==0.1.5
django-classy-tags==0.7.2
django-cms==3.2.3
django-filer==1.1.1
django-formtools==1.0
django-mptt==0.8.3
django-parler==1.6
django-phonenumber-field==1.0.0
django-polymorphic==0.8.1
django-reversion==1.10.1
django-sekizai==0.9.0
Django-Select2==5.8.4
django-sortedm2m==1.1.1
django-taggit==0.17.6
django-treebeard==4.0
djangocms-admin-style==1.1.0
djangocms-column==1.6.0
djangocms-googlemap==0.4.0
djangocms-inherit==0.1.1
djangocms-installer==0.8.5
djangocms-link==1.7.1
djangocms-style==1.6.0
djangocms-text-ckeditor==2.8.1
easy-thumbnails==2.3
html5lib==0.9999999
lxml==3.5.0
phonenumbers==7.2.3
Pillow==3.2.0
-e git+http://git@github.com/divio/django-polls.git@9fb91e49e2e56cf59ab0cfcddb17c35afbdd06da#egg=polls
python-dateutil==2.4.2
python-slugify==1.2.0
pytz==2015.7
six==1.10.0
tzlocal==1.2
Unidecode==0.4.19
YURL==0.13
