{% load cms_tags staticfiles sekizai_tags static menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Eye Candy Salon</title>

        <link rel="stylesheet" type="text/css" href="/static/foundation/bower_components/foundation-sites/dist/foundation.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/stylesheets/salon.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'foundation/webicons/webicons-master/webicons.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css"/>

        {% render_block "css" %}
    </head>

    <body class="{% block body_class %}{% endblock %} svg">

        {% cms_toolbar %}

        <div class="container">

            <!-- NAVIGATION -->
            <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
                <button class="menu-icon my_button" type="button" data-toggle></button>
                <div class="title-bar-title" >Eye Candy Salon</div>
            </div>

            <p></p>

            <header class="align-center row">
                <div class="medium-6 columns">
                    <a href="/">
                        <img src="{% static 'styles/images/eyecandy-logo.svg' %}" alt="EYE CANDY SALON">
                    </a>
                </div>
                <div class="medium-6 columns">
                    <img src="{% static 'styles/images/product-logos-v2.jpg' %}" id="product-logos" alt="Product Logos">
                </div>
            </header>

            <div class="social-icons">
                <a href="https://www.facebook.com/eyecandysalonreno/">
                    <div class="svg webicon facebook"></div>
                </a>
                <a href="">
                    <div class="svg webicon twitter"></div>
                </a>
            </div>

            <div class="top-bar" id="main-menu">
                <div class="align-center">
                    <ul class="dropdown menu inline" data-dropdown-menu>

                        <!--dynamically generates the menu -->
                        {% show_menu 0 1 100 100 "menu.html" %}
                    </ul>
                </div>
            </div>

            <!-- PAGE CONTENT -->
            {% block container %}
                {% block content %}{% endblock content %}
            {% endblock %}

        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        {% render_block "js" %}

        <script src="{% static 'foundation/bower_components/foundation-sites/dist/foundation.min.js' %}"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'slick/slick.min.js' %} "></script>

        {% block extra_scripts %}
            <!-- Load page scripts after libraries are loaded. -->
        {% endblock %}

        <script type="text/javascript">
            // Setup Foundation 6 features.
            $(document).foundation();
        </script>
    </body>
</html>
