{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block body_class %}bio_page{% endblock %}

{% block content %}

    <div class="content-wrapper">
        <div class="row">
            <div class="small-12  columns candy-fonts " data-equalizer-watch="">
            <br>
                <h2 class="align-center" style="color:#c86ac7">Bios</h2>
                  <div class="border_page"> </div>

            <div class="align-left prices"> 
                <h2> Jessica Abbot</h2>
                <ul style="font-size:2em">
                    <li> Owner/hair designer. American board certified haircolorist. Keune certified haircolorist. Keune regional educator. <a href="https://www.instagram.com/jessicaabbottecs775/" style="color:#C86AC7"><i class="fa fa-instagram" aria-hidden="true"> </i></a></li>
                    
                </ul>
              

                   <h2>Melissa Lazzarini</h2>
                <ul style="font-size:2em">
                    <li>Certified Great Lengths and Babe Hair Extension Technician. Hair stylist/colorist.  <a href="https://www.instagram.com/melissa_hairstylist_/" style="color:#C86AC7"><i class="fa fa-instagram" aria-hidden="true"> </i></a></li> 
                    
                </ul>
                

                    <h2> Morgan Pintar</h2>
                <ul style="font-size:2em">
                    <li> Certified Babe Hair Extension technician. Hair designer/colorist.  <a href="https://www.instagram.com/hairbymorganpintar/" style="color:#C86AC7"><i class="fa fa-instagram" aria-hidden="true"> </i></a></li>
                    
                </ul>


                    <h2> Savannah Ray</h2>
                <ul style="font-size:2em">
                    <li> Nail Technician. <span>"I love doing nail art. Anything you throw at me I will gladly do. I love what I do and I am honing my art everyday. Can't wait to see you in my chair."</span>  <a href="https://www.instagram.com/galaxy_touch_nails/" style="color:#C86AC7"><i class="fa fa-instagram" aria-hidden="true"> </i></a></li> 
                    
                </ul>


            </div>
          </div>
        </div>
       </div>       



            
            
            
      

      

 <footer>
    {% static_placeholder 'footer' %}
 </footer>


{% endblock content %}
