{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block body_class %}bio_page{% endblock %}

{% block content %}

    <div class="content-wrapper">

        <br>
        <div class="align-center">
            <h1 class="align-center page-title">
                Bios
            </h1>
        </div>
        <br>

        <div class="row">
            <div class="small-12 columns candy-fonts align-left">
                <h2 class="pink">Jessica Abbott</h2>
                <p>
                    Owner/hair designer. American board certified haircolorist. Keune certified haircolorist. Keune regional educator.
                    <a href="https://www.instagram.com/jessicaabbottecs775/" class="pink" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>


                <h2 class="pink">Kylan Henderson</h2>
                <p> Stylist, colorist, make-up artist and Babe certified extensionist.

     	            <a href="https://www.instagram.com/hairwytch/" class="pink" target="_blank">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		    </a>
		</p>
                <h2 class ="pink"> Lory Burroughs</h2>
		<p> Creative nail artist specializing in gel nails, with an emphasis on hand painted design and pedicures.
		    <a href="https://www.instagram.com/lorybdoesnails/" class="pink" target="_blank">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		    </a>
		</p>

                <h2 class ="pink"> Sharee Koelsch</h2>
        <p>Specializing in mens grooming, razor cutting, fashion color, blonding and special occasion hair. Certified tape in and micro link extensionist.
            <a href="https://www.instagram.com/high_desert_hair/" class="pink" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </p>



                <br><br>
            </div>
        </div>
    </div>










 <footer>
    {% static_placeholder 'footer' %}
 </footer>


{% endblock content %}
