{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block body_class %}bio_page{% endblock %}

{% block content %}

    <div class="content-wrapper">

        <br>
        <div class="align-center">
            <h1 class="align-center page-title">
                Bios
            </h1>
        </div>
        <br>

        <div class="row">
            <div class="small-12 columns candy-fonts align-left">
                <h2 class="pink">Jessica Abbott</h2>
                <p>
                    Owner/hair designer. American board certified haircolorist. Keune certified haircolorist. Keune regional educator.
                    <a href="https://www.instagram.com/jessicaabbottecs775/" class="pink" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>

          
                <h2 class="pink">Kylan Henderson</h2>
                <p> Stylist, colorist, and make-up artist. Core Mentor and Honor graduate from Paul Mitchell academy. I have been extensively trained in the following aspects of hair and make-up design: Advanced Men's Grooming by Daniel Moses. Advanced Cutting/Coloring by David Bangham. Classic and Mosaic Make-up Application by Debra Dietrick. I also attended the Vivienne Mackinder Hair Designer TV Academy.
     	            <a href="https://www.instagram.com/hairwytch/" class="pink" target="_blank">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		    </a>
		</p>
                <h2 class ="pink"> Lory Burroughs</h2>
		<p> Creative nail artist specializing in gel nails, with an emphasis on hand painted design and pedicures.
		    <a href="https://www.instagram.com/lorybdoesnails/" class="pink" target="_blank">
			<i class="fa fa-instagram" aria-hidden="true"></i>
		    </a>
		</p>

                <h2 class ="pink"> Sharee Koelsch</h2>
        <p>Advanced training in men's styling, razor cutting and smoothening treatments. Specializing in color/fashion. Wedding upstyles/updos are my passion! Tape-in and micro-link extensions upon consultation.
            <a href="https://www.instagram.com/sharee__k/" class="pink" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </p>



                <br><br>
            </div>
        </div>
    </div>










 <footer>
    {% static_placeholder 'footer' %}
 </footer>


{% endblock content %}
