{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block container %}

   
 -             
     <div class="content-wrapper">


            <div class="row">
                <div class="small-12 columns candy-fonts" data-equalizer-watch="">
                    <h2 class="align-center">
                         With more than 30 years of experience, we have dedicated ourselves to mastering
                        the art of beauty and color. 
                    <br>Book an appointment and turn heads... be Eye Candy. </h2>
                    <a href="https://www.schedulicity.com/scheduling/ECSB76" class="center-alignment my_button">Schedule Now!</a>
                </div>
            </div>


        <div class="border_page"> </div>


        


     <footer>



      {% static_placeholder 'footer' %}
    </footer>
{% endblock container %}
