{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block container %}

        <!--Dormant for now.
        <div class="row">
            <div class="small-12 columns">
                {% placeholder content %}
            </div>
        </div>
    </div> -->

     <div class="content-wrapper">
          <div class="small-12 columns"  data-equalizer-watch="">  
            <div class="pic_position"></div>
            <div class="pic_position2"></div>
          </div>  

            <div class="row">

                <div class="small-12 columns candy-fonts " style="clear:both" data-equalizer-watch="">
                    <h2 class="align-center"> <br> Welcome to Eye Candy Salon <br> in downtown Reno, NV!</h2>
                    <a href="https://www.schedulicity.com/scheduling/ECSB76" class="center-alignment my_button">Schedule Now!</a>
                </div>
            </div>


        <div class="border_page"> </div>


        <div class="row">

            <!-- Left column. Shows at top for small screens. -->
            <div class="large-7 medium-6 columns prices">

                <h1>Our Services</h1>

                <ul> Cuts
                    <li>Women................$40+</li>
                    <li>Women's Haircut w/ Express Amino Fusion Treatment................$60</li>
                    <li>Men................$20</li>
                    <li>Children................$15</li>
                </ul>
                <ul>Chemical Services
                    <li>All over color...............$100+</li>
                    <li>Color Touch Up................80.00+</li>
                    <li>Color Man w/ Men's Haircut................65.00+</li>
                    <li>Color with Highlight................150.00+</li>
                    <li>Full Highlight................150.00+</li>
                    <li> Partial Highlight................120.00+</li>
                    <li>Accent Highlight (Face Framing)................65.00+</li>
                    <li>Balayage Color................130.00+</li>
                    <li>Ombre Color................130.00+</li>
                    <li>Express Amino Fusion Color Lock   25.00</li>
                    <li>Permanent Wave................120.00+</li>
                    <li>Amino Fusion Smoothing Treatment................300.00</li>
                </ul>

                <ul>Styling
                    <li>Shampoo & Blow-dry................25.00+</li>
                    <li>UpDo................55.00+</li>
                    <li>Make-up................Consultation Required</li>
                    <li>Lip, Eyebrow, Chin................15.00</li>
                    <li>Full Face................30.00</li>
                </ul>

                <ul> Extensions
                    <li>Babe Extensions................Consultation Required</li>
                    <li>Great Length Extensions................Consultation Required</li>
                    <li>She by So.Cap.Usa Extensions................Consultation Required</li>
                    <p> *All prices are a base price and subject to change.</p>
                </ul>

            </div>

            <!-- Right column. Shows at bottom for small screens. -->
            <div class="large-5 medium-6 columns" data-equalizer-watch="">
                <div class="flex-video video-top-padded">
                    <iframe width="420" height="315" src="http://www.youtube.com/embed/7B-ax-r8cNo"> </iframe>
                    <br>
                </div>
                <div class="flex-video video-top-padded">
                    <iframe width="420" height="315" src="//www.youtube.com/embed/B225KN8YKX4" frameborder="0" allowfullscreen></iframe>
                    <br>
                </div>
                <div class="flex-video video-top-padded">
                    <iframe width="420" height="315" src="//www.youtube.com/embed/NoHbfdtPJIc" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="pic_position2"></div>
            </div>
        </div>
    </div>

























    <footer>

      {% static_placeholder 'footer' %}
    </footer>
{% endblock container %}
