{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block body_class %}menu_page{% endblock %}

{% block content %}
    <!-- SOME OF THE DUMMY IMAGES WIDTH AND HEIGHT ARE OUT OF PLACE WITH THE SLIDER. I FOUND THE IDEAL HEIGHT\WIDTH TO BE AROUND 900X500. -->
    <br>
    <div class="align-center">
        <h1 class="align-center page-title">
            Gallery
        </h1>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="small-10 small-offset-1 columns">
            <div class="slick-multislider">
                <div>
                    <img class="slider-image-content" src="{% static 'styles/images/2.jpg' %}" alt="">
                </div>

                <div>
                    <img class="slider-image-content" src="{% static 'styles/images/5.jpg' %}" alt="">
                </div>

                <div>
                    <img class="slider-image-content" src="{% static 'styles/images/13.jpg' %}" alt="">
                </div>

                <div>
                    <img class="slider-image-content" src="{% static 'styles/images/23.jpg' %}" alt="">
                </div>

                <div>
                    <img class="slider-image-content" src="{% static 'styles/images/24.jpg' %}" alt="">
                </div>

                 <div>
                    <img class="slider-image-content" src="{% static 'styles/images/25.jpg' %}" alt="">
                </div>

                <div>
                    <img class="slider-image-content" src="{% static 'styles/images/9.jpg' %}" alt="">
                </div>

                <div>
                    <img class="slider-image-content" src="{% static 'styles/images/14.jpg' %}" alt="">
                </div>

                <div>
                    <img class="slider-image-content" src="{% static 'styles/images/7.jpg' %}" alt="">
                </div>

                

                

            </div>
        </div>
    </div>

    <br><br>

    <footer>
        {% static_placeholder 'footer' %}
    </footer>
{% endblock content %}

{% block extra_scripts %}

    <!-- CHANGED THE 'SLIDES TO SHOW' TO 1, SO THAT ONLY ONE IMAGE WOULD APPEAR.-->
    <!-- AUTO PLAY IS FUNCTIONING. -->

    <script type="text/javascript">
        // Window Resize code.
        var $windowWidth=$(window).width();
        $( window ).resize(function() {
            var $windowWidth=$(window).width();
            if (($windowWidth > 1) && ($windowWidth < 640)) {
                $('.slick-multislider').unslick();
                $('.slick-multislider').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    dots: true,
                });
            } else {
                $('.slick-multislider').unslick();
                $('.slick-multislider').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    dots: true,
                });
            }
        });
        // Initial run.
        if (($windowWidth > 1) && ($windowWidth < 640)) {
            $('.slick-multislider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true,
            });
        } else {
            $('.slick-multislider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true,
            });
        }
    </script>

{% endblock %}
