{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block body_class %}menu_page{% endblock %}

{% block content %}

    <div class="row menu-wrapper">
        <!-- Menu title -->
        <div class="small-12 columns">
            <div class="row menu-title-container">
                <section class="medium-6 medium-offset-6 columns">
                    <h1 class="menu-title hide-for-small-only">
                        MENU
                    </h1>
                </section>
            </div>
        </div>
        <!-- Left sections. -->
        <div class="medium-6 columns">
            <div class="row" data-equalizer>
                <!-- Far left column -->
                <section class="large-5 small-6 columns border-right menu-items" data-equalizer-watch>
                    <h4>COFFEE</h4>
                    <ul class="inline">
                        <li>$3</li>
                        <li>$2.25</li>
                        <li>$1.50</li>
                    </ul>
                    <h4>LATTE</h4>
                    <ul class="inline">
                        <li>$4</li>
                        <li>$3.25</li>
                        <li>$2.50</li>
                    </ul>
                    <h4>AMERICANO</h4>
                    <ul class="inline">
                        <li>$3.10</li>
                        <li>$2.10</li>
                        <li>$1.55</li>
                    </ul>
                    <h4>TEA LATTE</h4>
                    <ul class="inline">
                        <li>$3.50</li>
                        <li>$3.00</li>
                        <li>$2.50</li>
                    </ul>
                    <h4>TEA</h4>
                    <ul class="inline">
                        <li>$2.50</li>
                        <li>$2.00</li>
                        <li>$1.50</li>
                    </ul>
                    <p>Teas:
                    <br>
                    Chai Spice, Chamomile, Earl Grey, English Breakfast, Honey
                    Lemon Ginseng, Jasmine Blossom, Licorice Spice, Peppermint,
                    Pomegranate Raspberry, Premium Green, Sweet Rose, and
                    Vanilla Hazelnut.</p>
                    <p>Bottled Water.... $1.00<br>
                    Ice Water.... $0.50<br>
                    Juice/Kids Tea.... $1.00<br></p>
                    <p>Juices: Appley Ever After, Berry Berry Good Lemonade,
                    Goodness Grapeness, and Super Fruit Punch. Tea: Grape
                    Bliss.</p>
                </section><!-- Second to left column -->
                <section class="medium-7 small-6 columns border-right menu-items" data-equalizer-watch>
                    <h4>MOCHA & FLAVORED LATTE</h4>
                    <ul class="inline">
                        <li>$5</li>
                        <li>$4</li>
                        <li>$3</li>
                    </ul>
                    <h4>WHITE CHOCOLATE MOCHA</h4>
                    <ul class="inline">
                        <li>$5.25</li>
                        <li>$4.25</li>
                        <li>$3.25</li>
                    </ul>
                    <h4>WHITE HOT CHOCOLATE</h4>
                    <ul class="inline">
                        <li>$4.20</li>
                        <li>$3.20</li>
                        <li>$2.20</li>
                    </ul>
                    <h4>CHAI TEA LATTE</h4>
                    <ul class="inline">
                        <li>$4</li>
                        <li>$3.25</li>
                        <li>$2.50</li>
                    </ul>
                    <h4>CAPPUCCINO</h4>
                    <ul class="plain">
                        <li>Double-shot $3.25</li>
                        <li>Single Shot $2.50</li>
                    </ul>
                    <h4>MACHIATTO</h4>
                    <ul class="plain">
                        <li>Double-shot $2.95</li>
                        <li>Single Shot $2.30</li>
                    </ul>
                    <h4>HOT CHOCOLATE/STEAMERS</h4>
                    <ul class="inline">
                        <li>$4</li>
                        <li>$3</li>
                        <li>$2</li>
                    </ul>
                    <h4>MILKSHAKES</h4>
                    <ul class="inline">
                        <li>(16 OZ only) $4</li>
                    </ul>
                </section>
            </div>
        </div><!-- Right section w/ MENU text-->
        <div class="medium-6 columns">
            <div class="row">
                <section class="small-6 columns menu-items">
                    <h4>PANINI</h4>
                    <ul class="plain">
                        <li>$4</li>
                        <li class="align-left">
                            <i class="fa fa-caret-right"></i>&nbsp;
                            Sourdough, White, or Wheat Bread.
                        </li>
                        <li class="align-left">
                            <i class="fa fa-caret-right"></i>&nbsp;
                            Ham, Roast Beef, or Turkey.
                        </li>
                        <li class="align-left">
                            <i class="fa fa-caret-right"></i>&nbsp;
                            Cheddar, Colby Jack, Monterey Jack,
                            Pepper Jack, or Provolone Cheese.
                        </li>
                        <li class="align-left">
                            <i class="fa fa-caret-right"></i>&nbsp;
                            A bag of chips.
                        </li>
                    </ul>
                </section>
                <section class="small-6 columns menu-items">
                    <h4>SALAD</h4>
                    <ul class="plain">
                        <li>$4.50</li>
                        <li>Chicken or Tuna Salad in a<br>
                        tomato on a bed of greens.</li>
                    </ul>
                </section>
                <section class="small-12 columns">
                    <h3>List of flavors:</h3>
                    <p>
                        Almond, Brown Sugar Cinnamon, Butter Pecan, Caramel,
                        Cinnamon, Coconut, Frosted Mint, Hazelnut, Peppermint,
                        Pumpkin Spice, Raspberry, Salted Caramel, Swiss Chocolate,
                        Toasted Almond Mocha, Toasted Marshmallow, Vanilla, and
                        White Chocolate.
                    </p>

                    <h3>Sugar Free:</h3>
                    <p>
                        Caramel, Cinnamon, Chocolate, Irish Cream, Hazelnut,
                        Peppermint, Pumpkin Spice, and White Chocolate.
                    </p>

                    <h3>Extras:</h3>
                    <p>
                        Another pump of flavor...$0.50<br>
                        Per-extra single shot of espresso....$0.80
                    </p>
                </section>
            </div>
        </div>
    </div>

 <footer>
    {% static_placeholder 'footer' %}
 </footer>


{% endblock content %}
