{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block container %}

    <!-- GIVING SERVICES ITS OWN PAGE -->

    <br>
    <div class="align-center">
        <h1 class="page-title">
            Our Services
        </h1>
    </div>
    <br>

    <div class="row">
        <!-- Left column. Shows at top for small screens. -->
        <div class="large-7 medium-6 columns prices">
            <ul> Cuts
                <li>Women<span class="price">................</span><span class="price" style="color: #c86ac7">$40+</span></li>
                <li>Women's Haircut w/ Express Amino Fusion Treatment<span class="price">................</span><span class="price" style="color: #c86ac7">$60</span></li>
                <li>Men<span class="price">................</span><span class="price" style="color: #c86ac7">$20</span></li>
                <li>Children<span class="price">................</span><span class="price" style="color: #c86ac7">$15</span></li>
            </ul>

            <ul>Styling
                <li>Shampoo & Blow-dry<span class="price">................</span><span class="price" style="color: #c86ac7">$25.00+</span></li>
                <li>UpDo<span class="price">................</span><span class="price" style="color: #c86ac7">$55.00+</span></li>
                <li>Make-up<span class="price">................</span><span class="price" style="color: #c86ac7">Consultation Required</span></li>
                <li>Lip, Eyebrow, Chin<span class="price">................</span><span class="price" style="color: #c86ac7">$15.00</span></li>
                <li>Full Face<span class="price">................</span><span class="price" style="color: #c86ac7">$30.00</span></li>
            </ul>

            <ul> Extensions
                <li>Babe Extensions<span class="price">................</span><span class="price" style="color: #c86ac7">Consultation Required</span></li>
                <li>Great Length Extensions<span class="price">................</span><span class="price" style="color: #c86ac7">Consultation Required</span></li>
                <li>She by So.Cap.Usa Extensions<span class="price">................</span><span class="price" style="color: #c86ac7">Consultation Required</span></li>
            </ul>
        </div>

        <!-- Right column. Shows at bottom for small screens. -->
        <div class="large-5 medium-6 columns prices">
            <ul>Chemical
                <li>All over color<span class="price">...............</span><span class="price" style="color: #c86ac7">$100+</span></li>
                <li>Color Touch Up<span class="price">................</span><span class="price" style="color: #c86ac7">$80.00+</span></li>
                <li>Color Man w/ Men's Haircut<span class="price">................</span><span class="price" style="color: #c86ac7">$65.00+</span></li>
                <li>Color with Highlight<span class="price">................</span><span class="price" style="color: #c86ac7">$150.00+</span></li>
                <li>Full Highlight<span class="price">................</span><span class="price" style="color: #c86ac7">$150.00+</span></li>
                <li> Partial Highlight<span class="price">................</span><span class="price" style="color: #c86ac7">$120.00+</span></li>
                <li>Accent Highlight (Face Framing<span class="price">)................</span><span class="price" style="color: #c86ac7">$65.00+</span></li>
                <li>Balayage Color<span class="price">................</span><span class="price" style="color: #c86ac7">$130.00+</span></li>
                <li>Ombre Color<span class="price">................</span><span class="price" style="color: #c86ac7">$130.00+</span></li>
                <li>Express Amino Fusion Color Lock<span class="price">................</span><span class="price" style="color: #c86ac7">$25.00</span></li>
                <li>Permanent Wave<span class="price">................</span><span class="price" style="color: #c86ac7">$120.00+</span></li>
                <li>Amino Fusion Smoothing Treatment<span class="price">................</span><span class="price" style="color: #c86ac7">$300.00</span></li>
            </ul>
        </div>

        <p class="align-center">
            *All prices are a base price and subject to change.
        </p>

        <br><br>
    </div>

    <footer>
        {% static_placeholder 'footer' %}
    </footer>
{% endblock container %}
