@import url("https://fonts.googleapis.com/css?family=Oswald|Cantarell:400,400italic,700|Cabin:400,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
/* line 5, ../sass/_colors.sass */
.pink {
  color: #c86ac7 !important;
}

/* line 10, ../sass/_fonts.sass */
.candy-fonts {
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 1em;
  color: white;
  text-align: center;
}
/* line 15, ../sass/_fonts.sass */
.candy-fonts p {
  margin-left: 1.5rem;
  font-size: 1.3rem;
  color: #FFF;
}
/* line 19, ../sass/_fonts.sass */
.candy-fonts p span {
  font-style: italic;
}
/* line 21, ../sass/_fonts.sass */
.candy-fonts a {
  color: white;
}
/* line 23, ../sass/_fonts.sass */
.candy-fonts a:hover {
  color: black;
}
/* line 25, ../sass/_fonts.sass */
.candy-fonts h2 {
  font-size: 2.5em;
  font-family: Cantarell, Cabin, Sans Serif;
  color: white;
}
@media screen and (max-width: 640px) {
  /* line 25, ../sass/_fonts.sass */
  .candy-fonts h2 {
    font-size: 1.6em;
    text-align: left;
  }
}
/* line 32, ../sass/_fonts.sass */
.candy-fonts h4 {
  font-family: Oswald, Georgia, Sans Serif;
  color: #ADAFB2;
}

/* line 1, ../sass/_menu.sass */
#main-menu {
  position: relative;
}

/* line 4, ../sass/_menu.sass */
#menu-line {
  position: absolute;
  top: 49%;
  height: 1px;
  border-top: 2px solid #c86ac7;
  width: 100%;
  z-index: 5;
}

/* line 12, ../sass/_menu.sass */
#menu-container {
  position: relative;
  z-index: 10;
}

/* line 18, ../sass/_menu.sass */
.menu-bar {
  background-color: #1e1e1e;
}
/* line 20, ../sass/_menu.sass */
.menu-bar ul {
  text-align: center;
  margin: 0 auto;
}
/* line 22, ../sass/_menu.sass */
.menu-bar ul a:hover {
  color: black;
}
/* line 25, ../sass/_menu.sass */
.menu-bar a {
  color: white;
  font-family: Oswald, Georgia, Sans Serif;
  font-size: 1.65em;
}
@media screen and (max-width: 640px) {
  /* line 25, ../sass/_menu.sass */
  .menu-bar a {
    font-size: 1em;
  }
}

/* line 33, ../sass/_menu.sass */
.menu-text {
  font-family: Oswald, Georgia, Sans Serif;
  text-transform: uppercase;
  font-size: 14.65em;
  color: #c86ac7;
}
@media screen and (max-width: 640px) {
  /* line 33, ../sass/_menu.sass */
  .menu-text {
    font-size: 1em;
  }
}

/* line 43, ../sass/_menu.sass */
.title-bar {
  background-color: #1e1e1e;
}

/* line 46, ../sass/_menu.sass */
.top-bar {
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  z-index: 300;
  background-color: #1e1e1e;
  border: 1px solid #c86ac7;
  max-width: 100%;
}
/* line 54, ../sass/_menu.sass */
.top-bar ul {
  background-color: #1e1e1e;
}
/* line 56, ../sass/_menu.sass */
.top-bar a {
  color: #FFF;
  font-family: Oswald, Georgia, Sans Serif;
  font-size: 1.4em;
  margin: 0 auto;
  align: center;
  padding: 0.7rem 0rem;
}
/* line 63, ../sass/_menu.sass */
.top-bar a:hover {
  color: #c86ac7;
}
/* line 65, ../sass/_menu.sass */
.top-bar li {
  display: inline-block;
}
/* line 68, ../sass/_menu.sass */
.top-bar li.active a {
  color: #c86ac7;
}

/* line 2, ../sass/_lists.sass */
ul.inline {
  display: inline-block;
  list-style: none;
  margin-top: 0;
  padding: 0;
}
/* line 7, ../sass/_lists.sass */
ul.inline li {
  display: block;
  float: left;
  list-style: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid #c86ac7;
  background-color: #1e1e1e;
  padding: -5px;
  min-width: 120px;
}
/* line 17, ../sass/_lists.sass */
ul.inline li a {
  padding: 0.7rem !important;
  color: #c86ac7;
  text-transform: uppercase;
}
/* line 21, ../sass/_lists.sass */
ul.inline li:hover {
  background-color: #c86ac7;
}
/* line 23, ../sass/_lists.sass */
ul.inline li:hover a {
  color: #FFF;
}

/* line 27, ../sass/_lists.sass */
ul.plain {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.94444rem;
  margin-left: -1rem;
  padding: 0;
}
/* line 33, ../sass/_lists.sass */
ul.plain li {
  list-style: none;
  margin-left: 1rem;
}

/* line 37, ../sass/_lists.sass */
li.align-left {
  text-align: left;
}

/* line 1, ../sass/_home.sass */
.schedule-button {
  display: inline-block !important;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 5px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  background-color: #c86ac7;
}

/* line 1, ../sass/_utils.sass */
.align-center {
  text-align: center;
}

/* line 4, ../sass/_utils.sass */
.align-left {
  text-align: left;
}

/* line 7, ../sass/_utils.sass */
.align-right {
  text-align: right;
}

/* line 1, ../sass/_gallery.sass */
img.slider-image-content {
  height: 480px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  /* line 1, ../sass/_gallery.sass */
  img.slider-image-content {
    height: 280px;
  }
}

/* line 9, ../sass/_gallery.sass */
.slider-text-content {
  color: #2199e8;
  margin-top: 0.25rem;
  font-size: 1.3rem;
}

/* line 15, ../sass/_gallery.sass */
#sliderFrame, #slider, .sliderInner {
  max-width: 100%;
}

/* line 2, ../sass/_bio.sass */
.artists h1 {
  font-family: Oswald, Georgia, Sans Serif;
  font-size: 2.5;
  color: #FFF;
  text-decoration: none;
}
@media screen and (max-width: 640px) {
  /* line 2, ../sass/_bio.sass */
  .artists h1 {
    font-size: 2em;
  }
}
/* line 9, ../sass/_bio.sass */
.artists h2 {
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 2.5em;
  color: #c86ac7;
}
@media screen and (max-width: 640px) {
  /* line 9, ../sass/_bio.sass */
  .artists h2 {
    font-size: 2em;
  }
}
/* line 16, ../sass/_bio.sass */
.artists h3 {
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 1.6em;
  text-decoration: bold;
  font-style: none;
  color: #FFF;
}
/* line 23, ../sass/_bio.sass */
.artists h4 {
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 1em;
  text-decoration: bold;
  font-style: italic;
  color: #FFF;
}
/* line 31, ../sass/_bio.sass */
.artists ul {
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 2em;
  text-decoration: bold;
  color: #FFF;
}
/* line 38, ../sass/_bio.sass */
.artists li {
  color: #FFF;
  font-family: Cantarell, Cabin, Sans Serif;
  list-style: none;
  font-size: 0.9em;
}
/* line 44, ../sass/_bio.sass */
.artists p {
  color: #FFF;
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 0.9em;
}
/* line 49, ../sass/_bio.sass */
.artists a:hover {
  color: #c86ac7;
}

/* line 1, ../sass/_services.sass */
.video_position {
  position: static;
  margin-right: 0em;
  clear: both;
  float: right;
}

/* line 7, ../sass/_services.sass */
.video-top-padded {
  margin-top: 15px;
}

/* line 11, ../sass/_services.sass */
.prices ul {
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 2.2em;
  color: #c86ac7;
}
/* line 15, ../sass/_services.sass */
.prices li {
  color: #FFF;
  list-style: none;
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 0.7em;
}
/* line 20, ../sass/_services.sass */
.prices li span.price {
  font-family: Shadows Into Light;
  font-size: 1.3em;
}
/* line 24, ../sass/_services.sass */
.prices p {
  color: white;
  font-family: Cantarell, Cabin, Sans Serif;
  font-size: 1em;
}

/* line 1, ../sass/_contact.sass */
label {
  font-size: 1.4rem;
  color: #FFF;
  font-family: Cantarell, Cabin, Sans Serif;
}

/* line 6, ../sass/_contact.sass */
input[type="submit"] {
  display: block !important;
  clear: both;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 5px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 auto 1rem;
  font-size: 0.9rem;
  background-color: #c86ac7;
}

/* line 23, ../sass/_contact.sass */
label {
  float: left;
}

/* line 26, ../sass/_contact.sass */
input[type="checkbox"] {
  float: right;
  margin-top: 14px;
}

/* line 31, ../sass/_contact.sass */
form p::after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
}

/* line 37, ../sass/_contact.sass */
textarea {
  height: 6rem !important;
}

/* line 15, ../sass/salon.sass */
.webicon:hover {
  margin: 0 0 5px !important;
}

/* line 19, ../sass/salon.sass */
h1, h2, h3, h4 {
  font-style: Oswald, Georgia, Sans Serif !important;
}

/* line 23, ../sass/salon.sass */
header h1 {
  color: #c86ac7;
  font-size: 12em;
  font-weight: bold;
  line-height: 1;
  padding: 0.7rem 1rem;
}

/* line 30, ../sass/salon.sass */
#brand {
  width: 100%;
}

@media screen and (min-width: 600px) {
  /* line 33, ../sass/salon.sass */
  #product-logos {
    margin-top: 0.5rem;
  }
}

/* line 37, ../sass/salon.sass */
.social-icons {
  padding-right: 3%;
  text-align: right;
}
/* line 40, ../sass/salon.sass */
.social-icons a {
  margin-left: 0.3rem;
}

/* line 44, ../sass/salon.sass */
body {
  background-color: #1e1e1e;
  color: #FFF;
}

/* line 48, ../sass/salon.sass */
.page-title {
  font-family: Oswald, Georgia, Sans Serif;
  font-size: 2.5em;
  color: #FFF;
  display: inline-block;
  border-bottom: 1px solid #FFF;
  padding-bottom: 0.4rem;
}
@media screen and (max-width: 640px) {
  /* line 48, ../sass/salon.sass */
  .page-title {
    font-size: 2em;
  }
}

/* line 58, ../sass/salon.sass */
.content-wrapper {
  width: 100%;
  margin: 0 auto;
}

/* line 62, ../sass/salon.sass */
hr {
  color: #c86ac7;
  background-color: #c86ac7;
  border: 0;
  width: 100%;
  max-width: 100%;
  height: 1px;
  margin: 15px 0 30px;
}
